
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');

body{
  font-family: 'Crimson Text', serif;
  border: 2px; 
  border-color: #000000;
  background-color: #ffffff;
  border: solid; 
}
section#results_block{
  width: 45%; 
  position: relative;
  bottom:5%;
  left:52.8%;
  background-color: #ffffff;
  border-color: #000000;
  border: 2px;
  border: solid; 
}
ul#results_list{
  width: 75%; 
  overflow: auto; 
}
div#product_block{
  width: 70%; 
  border-color: #000000;
  border: 2px;
  border: solid;
}
div#product_block > section{
  display: inline-block;
  width: 30%;
  border-color: #000000;
  border: 2px;
  border: solid;
}
div#product_block > section >img{
  width: 90%;
  border-color: #000000;
  border: 2px;
  border: solid;
  background-color: #ffffff;
}
div#product_block> section > h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
  border-color: #000000;
  border: 2px;
  border: solid;
}
div#chart{ 
  float: left;
  width: 50%;
}
button#chart_button{
  margin: 5%; 
  width: 10%; 
  height: 5%; 
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff; 
}
