
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');

body{
  font-family: 'Crimson Text', serif;
  background-color: #ffffff;
}
section#results_block{
  width: 45%; 
  height: 90%;
  position: relative;
  left:5%;
  background-color: #ffffff;
  border-color: #000000;
  border: 2px;
  border: solid; 
  overflow: auto; 
}
ul#results_list{
  width: 75%; 
  overflow: auto; 
}
section#results_block > h3 {
  text-align: center;
  width: 100%;
}
div#product_block{
  width: 100%;  
  margin-bottom: 3%; 
  border-color: #000000;
  border: 2px;
  border: solid;
}
div#product_block > section{
  display: inline-block;
  width: 30%;
  margin: 1.3%;
  border-color: #000000;
  border: 2px;
  border: solid;
}
div#product_block > section > img{
  width: 95%;
  margin: auto; 
  border-color: #000000;
  border: 2px;
  border: solid;
  background-color: #ffffff;
}
div#product_block> section > h4{
  text-align: center;
  width: 80%;
  margin: auto; 
  font-family: 'Montserrat', sans-serif; 
  border-color: #000000;
  border: 2px;
  border: solid;
}
div#chart{ 
  float: left;
  width: 50%;
}
button#chart_button{
  margin: 5%; 
  width: 10%; 
  height: 5%; 
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff; 
}
